@using My_Wedding_Manager.ViewModels
@model GuestViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="~/Content/mdb.min.css" rel="stylesheet">

    <!-- Customised Checkbox -->
    <link href="~/Content/Checkbox.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="~/img/logo_f39_icon.ico">

    <!-- Custom styles -->
    <style rel="stylesheet">
        /* Custom STYLES */
        html,
        body,
        .view {
            height: 100%;
        }
        /* Navigation*/

        .navbar {
            background-color: rgba(252,255,250,0.3);
        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: rgba(252,255,250,0.3);
        }

        footer.page-footer {
            background-color: #adadad;
            margin-top: -1px;
        }

        @@media only screen and (max-width: 600px) {
            .navbar {
                background-color: rgba(132, 166, 146, 0.2);
            }

            .col-2 {
                -ms-flex: 0 0 0%;
                flex: 0 0 0%;
                max-width: 0%;
            }

            .table {
                float: left;
                clear: both;
                width: 95%;
                overflow-x: auto;
            }

            .view {
                background: url("../../img/Mobile1.jpeg")no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
        /*Call to action*/

        .view {
            background: url("../../img/Design2.jpeg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            /*filter: background blur(1px);
            -o-filter: blur(1px);
            -ms-filter: blur(1px);
            -moz-filter: blur(1px);
            -webkit-filter: blur(1px);*/
        }
    </style>

</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-light fixed-top">
        &nbsp;&nbsp;<a class="navbar-brand align-center justify-content-center" href="/GuestList/Index">
            <img src="~/img/Logo.png" height="30" alt="" class="d-inline-block align-center justify-content-center">
            <img src="~/img/Title.png" height="30" class="d-inline-block align-center justify-content-around">
        </a>
        <ul class="navbar-nav mr-auto"></ul>
    </nav>
    <!--/.Navbar-->
    <div class="view hm-black-dark">
        <div class="full-bg-img">
            <div class="flex-center animated fadeInUp" style="height:100%;overflow:auto;">
                <form action="/GuestList/ConfirmedDeleteGuest/@Model.GuestId" method="post">
                    <input type="hidden" name="GuestId" value="@Model.GuestId" />
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Delete this guest?</h4>
                            <p class="card-text">
                                Name: @Model.Name <br />
                                Contact Number: @Model.ContactNo <br />
                                Table Number: @Model.TableNo <br />
                                Attendance: @Model.Attendance <br /><br />
                            </p>
                        </div>
                    </div>

                    @Html.AntiForgeryToken()
                    <br />
                    <br />
                        <input type="submit" class="btn btn-danger" name="BtnSubmit" value="Yes" />
                        <input type="submit" class="btn btn-grey" name="BtnSubmit" value="Cancel" />
</form>
            </div>
        </div>
    </div>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap dropdown -->
    <script type="text/javascript" src="~/Scripts/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Scripts/mdb.min.js"></script>

    <!-- JQuery-Ajax -->
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
