@using My_Wedding_Manager.ViewModels
@model GuestListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Checkbox.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        //$('.form-control').keyup(function (e) {
        //    this.submit();
        //    return false;
        //});
        //Load Data function
        function FindGuest() {
            var SearchByName = $('#SearchByName1').val();
            if (SearchByName != null && SearchByName != "")
                SearchByName = "/" + SearchByName;
            $.ajax({
                url: "/GuestList/JFindGuest" + SearchByName,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    var html2 = '<p> test test</p>';
                    $('.test1').html(html2);
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.GuestId + '</td>';
                        html += '<td>' + item.Name + '</td>';
                        html += '<td>' + item.ContactNo + '</td>';
                        html += '<td>' + item.Attendance + '</td>';
                        html += '</tr>';
                    });
                    $('.tbody').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //Update Attendance function
        function UpAttd(guestId) {
            var checkbox = $('#Attendance-' + guestId).is(":checked");
            var guestObj = {
                GuestId: guestId,
                Attendance: checkbox,
            };
            $.ajax({
                url: "/GuestList/JUpdateAttd",
                data: JSON.stringify(guestObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    
                },
                error: function (errormessage) {

                }
            });
        }
    </script>
</head>
<body>
    <nav class="navbar sticky-top navbar-dark justify-content-between" style="background-color: rgba(130, 160, 109, 0.6);">
        <a class="navbar-brand" href="#"><div class="font-weight-bold">Wedding Manager</div></a>
        <a href="/GuestList/ManageGuests"><input type="button" class="btn btn-light" value="Manage List" style="color: rgba(128, 128, 128, 1.0);" /></a>
    </nav>
    <div class="container-fluid">  
        <!--Header Bar Start Here-->
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <td>Guest ID</td>
                    <td>Name</td>
                    <td>Contact No.</td>
                    <td>Table No.</td>
                    <td>Attendance</td>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
        <br />
        <div class="test1"></div>
        <!--Header Bar End Here-->
        <div class="row"><div class="col-xl">&nbsp;</div></div>
        <div class="row"><div class="col-xl">&nbsp;</div></div>
        <div class="row"><div class="col-xl">&nbsp;</div></div>

        <div class="row">
            <div class="col-1" align="center"></div>
            <div class="col-10" align="center">
                <div class="row">
                    <div class="col" align="left">&nbsp;</div>
                    <div class="col-md" align="center">
                        <form id="form-search" action="/GuestList/FindGuest" method="post">
                            <input type="search" id="SearchByName1" class="form-control" name="SearchByName" placeholder="Search guest name" autocomplete="off" onkeyup="FindGuest();" />
                        </form>
                    </div>
                    <div class="col" align="right">&nbsp;</div>
                </div>

                <div class="row"><div class="col-xl">&nbsp;</div></div>

                <div class="row">
                <div class="col" align="center">

                    <table class="table table-hover">
                        <thead style="color: rgba(128, 128, 128, 1.0); font-weight: 800;">
                            <tr>
                                <td>Guest ID</td>
                                <td>Name</td>
                                <td>Contact No.</td>
                                <td>Table No.</td>
                                <td>Attendance</td>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (GuestViewModel row in Model.Guest)
                        {
                            <tr style="color: rgba(128, 128, 128, 1.0); font-weight: 400;">
                                <td>@row.GuestId</td>
                                <td>@row.Name</td>
                                <td>@row.ContactNo</td>
                                <td>@row.TableNo</td>
                                <td>
                                    <a onclick="UpAttd(@row.GuestId);">
                                        @if (row.Attendance)
                                        {
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" checked class="custom-control-input" name="Attendance" id="Attendance-@row.GuestId" value="@row.GuestId">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="Attendance" id="Attendance-@row.GuestId" value="@row.GuestId">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        }
                                    </a>
                                    <input type="hidden" name="GuestIdForAttd" value="@row.GuestId" />
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <input type="hidden" name="FromPage" value="Index" />

                </div>
                </div>
            </div>
            <div class="col-1" align="center"></div>
        </div>
    </div> <!--Container-->
</body>
</html>