@using My_Wedding_Manager.ViewModels
@model GuestListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Guest List</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Checkbox.css" rel="stylesheet">

    <script type="text/javascript">
        //Update Attendance function
        function UpAttd(guestId) {
            var checkbox = $('#Attendance-' + guestId).is(":checked");
            var guestObj = {
                GuestId: guestId,
                Attendance: checkbox,
            };
            $.ajax({
                url: "/GuestList/JUpdateAttd",
                data: JSON.stringify(guestObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {

                },
                error: function (errormessage) {

                }
            });
        }
    </script>
</head>
<body>
    <nav class="navbar sticky-top navbar-dark justify-content-between" style="background-color: rgba(130, 160, 109, 0.6);">
        <a class="navbar-brand" href="#"><div class="font-weight-bold">Wedding Manager</div></a>
        <a href="/GuestList/Index"><input type="button" class="btn btn-light" value="Back" style="color: rgba(128, 128, 128, 1.0);" /></a>
    </nav>
    <div class="container-fluid">
        <!--Header Bar Start Here-->
        <!--Header Bar End Here-->
        <div class="row"><div class="col">&nbsp;</div></div>
        <div class="row"><div class="col">&nbsp;</div></div>

        <div class="row">
            <div class="col-1" align="center"></div>
            <div class="col-10" align="center">
                <div class="row">
                    <div class="col-3" align="left">&nbsp;</div>
                    <div class="col-6" align="center">&nbsp;</div>
                    <div class="col-3" align="right"><a href="/GuestList/AddNew"><input type="button" class="btn btn-outline-dark" value="Add New" /></a></div>
                </div>
            </div>
            <div class="col-1" align="center"></div>
        </div>

        <div class="row"><div class="col">&nbsp;</div></div>

        <div class="row">
            <div class="col-1" align="center"></div>
            <div class="col-10" align="center">

                    <table class="table table-hover">
                        <thead style="color: rgba(128, 128, 128, 1.0); font-weight: 800;">
                            <tr>
                                <td>Guest ID</td>
                                <td>Name</td>
                                <td>Contact No.</td>
                                <td>Table No.</td>
                                <td>Attendance</td>
                                <td>Manage</td>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (GuestViewModel row in Model.Guest)
                        {
                            <tr style="color: rgba(128, 128, 128, 1.0); font-weight: 400;">
                                <td>@row.GuestId</td>
                                <td>@row.Name</td>
                                <td>@row.ContactNo</td>
                                <td>@row.TableNo</td>
                                <td>
                                    <a onclick="UpAttd(@row.GuestId);">
                                        @if (row.Attendance)
                                        {
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" checked class="custom-control-input" name="Attendance" id="Attendance-@row.GuestId" value="@row.GuestId">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="Attendance" id="Attendance-@row.GuestId" value="@row.GuestId">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        }
                                    </a>
                                    <input type="hidden" name="GuestIdForAttd" value="@row.GuestId" />
                                </td>
                                <td>
                                    <a href="/GuestList/EditGuest/@row.GuestId"><input type="button" class="btn btn-outline-dark" value="Edit" /></a>&nbsp;&nbsp;
                                    <a href="/GuestList/DeleteGuest/@row.GuestId"><input type="button" class="btn btn-outline-danger" value="Delete" /></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <input type="hidden" name="FromPage" value="ManageGuestList" />

            </div>
            <div class="col-1" align="center"></div>
        </div>
    </div> <!--Container-->
<script src="~/Scripts/jquery-3.2.1.slim.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>