@using My_Wedding_Manager.ViewModels
@model GuestListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Guest List</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Checkbox.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light justify-content-between"></nav>
        <div class="row"><div class="col-xl">&nbsp;</div></div>
        <!--Header Bar Start Here-->
        <div class="row">
            <div class="col-1" align="center"></div>
            <div class="col-10" align="center"><div class="row">
                <div class="col-3" align="left">Icon Here</div>
                <div class="col-6" align="center">My Page Title</div>
                <div class="col-3" align="right"><a href="/GuestList/Index">Back</a></div></div>
            </div>
            <div class="col-1" align="center"></div>
        </div>

        <!--Header Bar End Here-->
        <div class="row"><div class="col">&nbsp;</div></div>
        <div class="row"><div class="col">&nbsp;</div></div>

        <div class="row">
            <div class="col-1" align="center"></div>
            <div class="col-10" align="center">
                <div class="row">
                    <div class="col-3" align="left">&nbsp;</div>
                    <div class="col-6" align="center">&nbsp;</div>
                    <div class="col-3" align="right"><a href="/GuestList/AddNew"><input type="button" class="btn btn-outline-dark" value="Add New" /></a></div>
                </div>
            </div>
            <div class="col-1" align="center"></div>
        </div>

        <div class="row"><div class="col">&nbsp;</div></div>

        <div class="row">
            <div class="col-1" align="center"></div>
            <div class="col-10" align="center">
                <form id="form2" action="/GuestList/UpdateAttd" method="post">
                    <table class="table table-hover">
                        <th>Guest ID</th>
                        <th>Name</th>
                        <th>Contact No.</th>
                        <th>Table No.</th>
                        <th>Attendance</th>
                        <th>Manage</th>
                        @foreach (GuestViewModel row in Model.Guest)
                        {
                            <tr>
                                <td>@row.GuestId</td>
                                <td>@row.Name</td>
                                <td>@row.ContactNo</td>
                                <td>@row.TableNo</td>
                                <td>
                                    <a href="#" onclick="document.getElementById('form2').submit()">
                                        @if (row.Attendance)
                                        {
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" checked class="custom-control-input" name="Attendance" value="@row.GuestId">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="Attendance" value="@row.GuestId">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        }
                                    </a>
                                    <input type="hidden" name="GuestIdForAttd" value="@row.GuestId" />
                                </td>
                                <td>
                                    <a href="/GuestList/EditGuest/@row.GuestId"><input type="button" class="btn btn-outline-dark" value="Edit" /></a>&nbsp;&nbsp;
                                    <a href="/GuestList/DeleteGuest/@row.GuestId"><input type="button" class="btn btn-outline-danger" value="Delete" /></a>
                                </td>
                            </tr>
                        }
                    </table>
                    <input type="hidden" name="FromPage" value="ManageGuestList" />
                </form>
            </div>
            <div class="col-1" align="center"></div>
        </div>
    </div> <!--Container-->
<script src="~/Scripts/jquery-3.2.1.slim.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>