@using My_Wedding_Manager.ViewModels
@model TableListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TableView</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="~/Content/mdb.min.css" rel="stylesheet">

    <!-- Customised Checkbox -->
    <link href="~/Content/Checkbox.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="~/img/logo_icon.png">

    <style type="text/css">
        a:hover {
            text-decoration: none;
        }
        /* Custom STYLES */
        html,
        body,
        .view {
            height: 100%;
        }
        /* Navigation*/

        .navbar {
            background-color: rgba(252,255,250,0.3);
        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: rgba(252,255,250,0.3);
        }

        footer.page-footer {
            background-color: #adadad;
            margin-top: -1px;
        }

        @@media only screen and (max-width: 600px) {
            .navbar {
                background-color: rgba(132, 166, 146, 0.2);
            }

            .col-2 {
                -ms-flex: 0 0 0%;
                flex: 0 0 0%;
                max-width: 0%;
            }

            .table {
                float: left;
                clear: both;
                width: 95%;
                overflow-x: auto;
            }

            .view {
                background: url("../../img/Mobile1.jpeg")no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
        /*Call to action*/

        .view {
            background: url("../../img/Design2.jpeg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .md-form a:hover {
            filter: brightness(50%);
            -o-filter: brightness(50%);
            -ms-filter: brightness(50%);
            -moz-filter: brightness(50%);
            -webkit-filter: brightness(50%);
        }
    </style>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-light fixed-top">
        &nbsp;&nbsp;<a class="navbar-brand align-center justify-content-center" href="#">
            <img src="~/img/Logo.png" height="30" class="d-inline-block align-center justify-content-center">
            <img src="~/img/Title2.png" height="30" class="d-inline-block align-center justify-content-around">
        </a>
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline">
            <a href="/GuestList/ManageGuests"><span class="fa fa-bars" style="font-size:larger; color:grey"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </form>
    </nav>
    <!--/.Navbar-->
    <!--Mask-->
    <div class="view hm-black-dark">
        <div class="full-bg-img">
            <div class="container-fluid animated fadeInUp" style="height:100%;overflow:auto;">
                <div class="row align-items-center">
                    <div class="col-2"></div>
                    <div class="col-8 align-self-center">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h6>Overall Attendance</h6>
                        <div class="progress" style="height: 40px">
                            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.OverallPercentage.ToString()%; height: 40px;"><h6>@Model.OverallPercentage.ToString() %</h6></div>
                        </div><br />
                        <canvas id="pieChart"></canvas>
                        @foreach (TableViewModel t in Model.Table)
                        {
                            <h6>Table @t.TableNo</h6>
                            <a data-toggle="collapse" href="#TableGuest-@t.TableNo">
                                <div class="progress" style="height: 40px">
                                    @if (t.Percentage > 59)
                                    {
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: @t.Percentage.ToString()%; height: 40px;"><h6>@t.Percentage.ToString() %</h6></div>
                                    }
                                    else if (t.Percentage <= 0)
                                    {
                                        <div class="progress-bar bg-transparent" role="progressbar" style="width: 100%; height: 40px;"><h6>0 %</h6></div>
                                    }
                                    else
                                    {
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: @t.Percentage.ToString()%; height: 40px;"><h6>@t.Percentage.ToString() %</h6></div>
                                    }
                                </div>
                            </a>
                            <p>
                                <div class="collapse" id="TableGuest-@t.TableNo">
                                    <div class="card card-body">
                                        @foreach (TableGuestViewModel tg in t.TableGuest)
                                        {
                                            if (tg.Attendance)
                                            {
                                                <div class="text-dark font-weight-bold"> @tg.GuestId - @tg.Name</div>
                                            }
                                            else
                                            {
                                                <div class="text-secondary"> @tg.GuestId - @tg.Name</div>
                                            }
                                        }
                                    </div>
                                </div>
                            </p>
                        }
                    </div>
                    <div class="col-2"></div>
                </div> <!--/row-->
            </div>
        </div>
    </div>
    <!--/.Mask-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap dropdown -->
    <script type="text/javascript" src="~/Scripts/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Scripts/mdb.min.js"></script>

    <!-- JQuery-Ajax -->
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Pie Chart - Table -->
    <script type="text/javascript">
        //pie
        var ctxP = document.getElementById("pieChart").getContext('2d');
        var myPieChart = new Chart(ctxP, {
            type: 'pie',
            data: {
                labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
                datasets: [
                    {
                        data: [300, 50, 100, 40, 120],
                        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>
</body>
</html>
